{% extends "layouts/base.html" %}

{% block title %} Ui Buttons {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% csrf_token %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tavolo: {{tavolo.codice}} </h5>
                            <input type="hidden" value="{{tavolo.id_tavolo}}" id="id_tavolo">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" id="consolida" data-toggle="tooltip">Invia in cucina</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" id="chiudi" data-toggle="tooltip">Chiudi e conto</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger" id="svuota" data-toggle="tooltip">Svuota tavolo</button>
                    </div>
                    <div class="col-md-12">
                        <h5 class="m-b-10">Menu: </h5>
                        <div class="card">
                             {%for cat in menu%}
                                <div class="card-header">
                                    <h5>{{cat.categoria}}</h5>
                                </div>
                                <div class="card-block">
                                {%for piatto in cat.piatti%}
                                    <button type="button" class="btn btn-{{piatto.btn}} pulsante_menu" id="{{piatto.id_piatto}}" data-toggle="tooltip">{{piatto.nome_piatto}}</button>
                                 {%endfor%}
                                </div>
                             {%endfor%}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Ordinazioni: </h5>
                        </div>
                        <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Portata</th>
                                                <th>Stato</th>
                                                <th>Azioni</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for ordine in lista_ordinazioni%}
                                                <tr>
                                                    <th scope="row">{{ordine.count}}</th>
                                                    <td>{{ordine.piatto.nome_piatto}}</td>
                                                    <td>{{ordine.stato}}</td>
                                                    <td>Colonna azioni</td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
